body {
    background-color: #519ff8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: aliceblue;
}

.titulo {
    text-align: center;
    font-size: 40px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.subtitulo{
    text-align: center;
    font-size: 35px;
    color: gainsboro;
    margin: 4em;
}

