body {
    background-color: #519ff8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    color: aliceblue;
}

.titulo {
    align-items: center;
    font-size: 25px;
}